// ===============================================================
// MIXINS AND FUNCTIONS
// ===============================================================

@mixin constrain($width) {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 0 var(--space-xlarge);

	@include mq(mobileLarge) {
		max-width: 700px;
		padding: 0 var(--space-xlarge);
	}

	@include mq(tablet) {
		padding: 0 var(--space-xlarge);
		max-width: $width;
	}

	@include mq(desktop) {
		padding: 0 var(--space-xlarge);
	}
}

@mixin box-shadow-small {
	box-shadow: 0 10px 25px 5px rgba(black, 0.1);
}

@mixin box-shadow-large {
	box-shadow: 0 10px 50px 5px rgba(black, 0.1);
}

@mixin transition($time: 0.2s) {
	transition: all $time ease-out;
}

// Use px values for width and height
@mixin ratio-box($width, $height) {
	display: none;
	height: 0;
	overflow: hidden;
	padding-top: $width / $height * 100%;
	position: relative;
}

@mixin absolute-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}

// ===============================================================
// FONTS
// ===============================================================

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap");

// Fonts
$font-primary: "Source Sans Pro", sans-serif;
$font-secondary: "Playfair Display", serif;

// ===============================================================
// SASS VARIABLES
// ===============================================================

// Colors brands
$color-primary: #074129;
$color-secondary: #654b10;
$color-third: #faf2df;

// Colors generic
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #333;
$color-grey-background: #f2f2f2;

// Menu header
$mobile-header-height: 85px;
$desktop-header-height: 100px;

// Layout
$max-width-small: (800 / 16) * 1em;
$max-width-large: (1300 / 16) * 1em;

// Z-Index
$z-index-header: 50;
$z-index-menu: 30;
$z-index-modal: 999;

// ===============================================================
// CSS ROOT VARIABLES
// ===============================================================

:root {
	// Global spacing
	--space-scale-base: 0.5rem;

	@include mq(mobileLarge) {
		--space-scale-base: 0.8rem;
	}
	@include mq(desktop) {
		--space-scale-base: 1rem;
	}

	--space-xxsmall: calc(var(--space-scale-base) * 0.5);
	--space-xsmall: calc(var(--space-scale-base) * 1);
	--space-small: calc(var(--space-scale-base) * 2);
	--space-medium: calc(var(--space-scale-base) * 3);
	--space-large: calc(var(--space-scale-base) * 4);
	--space-xlarge: calc(var(--space-scale-base) * 6);
	--space-xxlarge: calc(var(--space-scale-base) * 8);

	// Type scale
	--font-xxsmall: 1.2rem;
	--font-xsmall: 1.2rem;
	--font-small: 1.6rem;
	--font-medium: 2rem;
	--font-large: 2.4rem;
	--font-xlarge: 2.8rem;
	--font-xxlarge: 3.4rem;

	@include mq(mobileLarge) {
		--font-xxsmall: 1.2rem;
		--font-xsmall: 1.4rem;
		--font-small: 1.8rem;
		--font-medium: 2.2rem;
		--font-large: 2.6rem;
		--font-xlarge: 3.2rem;
		--font-xxlarge: 4.5rem;
	}

	@include mq(desktop) {
		--font-xxsmall: 1.4rem;
		--font-xsmall: 1.6rem;
		--font-small: 2rem;
		--font-medium: 2.4rem;
		--font-large: 2.8rem;
		--font-xlarge: 3.6rem;
		--font-xxlarge: 6.8rem;
	}

	@include mq(desktopLarge) {
		--font-xxsmall: 1.7rem;
		--font-xsmall: 1.9rem;
		--font-small: 2.3rem;
		--font-medium: 2.7rem;
		--font-large: 3.4rem;
		--font-xlarge: 3.9rem;
		--font-xxlarge: 7.2rem;
	}

	// CSS grid gap
	--grid-gap: 3rem;

	@include mq(tablet) {
		--grid-gap: 4.5rem;
	}
	@include mq(desktop) {
		--grid-gap: 6rem;
	}
	@include mq(desktopLarge) {
		--grid-gap: 7rem;
	}
}
