// ===============================================================
// Content layout and styling
// ===============================================================

// Layout styling rules
.content {
	.content--contained {
		@include constrain($max-width-small);
		margin: var(--space-xlarge) auto;
	}

	.content--two-column {
		display: grid;
		grid-gap: var(--grid-gap);
		grid-template-columns: 1fr;

		@include mq(tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.content--two-column-sidebar {
		display: grid;
		grid-gap: var(--grid-gap);
		grid-template-columns: 1fr;

		@include mq(tablet) {
			grid-template-columns: minmax(450px, 1fr) minmax(200px, 400px);
		}
	}
}

// Styling for any content output from the wordpress editor
.page-content {
	.page-intro {
		font-size: var(--font-large);
		color: $color-primary;
		line-height: 1.33;

		@include mq(mobileLarge) {
			text-align: center;
			margin: 0 calc(var(--space-medium) * -1);
		}

		@include mq(desktop) {
			font-size: 3.2rem;
			line-height: 1.22;
			margin: 0 calc(var(--space-xxlarge) * -1);
		}
	}

	// Set vertical rhythm for page content
	> *:not(:last-child) {
		margin-bottom: var(--space-medium);
	}

	a {
		text-decoration: none;
		color: $color-primary;
		font-weight: 400;
		border-bottom: 2px solid transparent;
		@include transition;

		&:hover {
			color: $color-secondary;
			border-bottom: 2px solid $color-secondary;
		}
	}

	h2 {
		font-family: $font-secondary;
		color: $color-primary;
		font-weight: 700;
	}

	h3 {
		color: $color-primary;
		font-weight: 700;
	}

	h4 {
		color: $color-secondary;
		font-weight: 700;
	}

	ul {
		font-size: var(--font-small);

		li {
			list-style: none;
			position: relative;
			padding: 0 0 0 20px;
			margin-bottom: var(--space-xsmall);
			padding-bottom: var(--space-xsmall);
			border-bottom: 1px solid rgba(black, 0.1);

			&:before {
				content: "";
				position: absolute;
				left: 5px;
				top: 10px;
				width: 7px;
				height: 7px;
				background-color: $color-secondary;
				border-radius: 50%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	ol {
		font-size: var(--font-small);
		list-style-position: inside;

		li {
			position: relative;
			margin-bottom: var(--space-xsmall);
			padding-bottom: var(--space-xsmall);
			border-bottom: 1px solid rgba(black, 0.1);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	em {
		border: 0;
	}

	blockquote {
		border: none;
		background: $color-third;
		padding: var(--space-small);
		text-align: center;
		margin: 0 calc(var(--space-large) * -1);

		@include mq(desktop) {
			margin: 0 calc(var(--space-xlarge) * -1);
		}

		p {
			color: $color-primary;
			font-size: var(--font-large);
			line-height: 1.44;
		}
	}

	figure {
		margin: var(--space-large) calc(var(--space-large) * -1) !important;

		@include mq(desktop) {
			margin: var(--space-large) calc(var(--space-xlarge) * -1) !important;
		}

		img {
			width: 100%;
		}

		figcaption {
			margin: 0;
			padding: 0.5rem;
			background: $color-third;
			font-size: var(--font-xsmall);
			color: $color-primary;
		}
	}

	.two-column-grid {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr;

		@include mq(desktop) {
			grid-template-columns: repeat(2, 1fr);
		}

		> div > *:not(:last-child) {
			margin-bottom: var(--space-medium);
		}
	}

	.wp-caption {
		width: 100% !important;

		.wp-caption-text {
			padding-top: var(--space-small);
			font-size: var(--font-small);
		}
	}
}
