// ===============================================================
// Footer
// ===============================================================

.site-footer {
	background: $color-third;
	padding: var(--space-small) var(--space-large);
	display: flex;
	flex-flow: column;
	align-items: center;

	@include mq(tablet) {
		flex-flow: row;
	}
}

.site-footer__info {
	line-height: 1;

	.svg-wrapper {
		width: 190px;
		height: 34px;
	}

	p {
		margin: 0;
		font-size: var(--font-xsmall);
	}

	@include mq(tablet) {
		margin-right: auto;
	}
}

#footer-nav {
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: var(--space-medium) 0;

	@include mq(tablet) {
		flex-flow: row;
		margin: 0 var(--space-medium) 0 0;
	}

	a {
		color: $color-primary;
		margin: 0.5rem;
		padding: 1rem;
	}
}
