// ===============================================================
// Homepage banner
// ===============================================================

.home-banner {
	position: relative;
	text-align: center;
	margin-top: $mobile-header-height;

	@include mq(desktop) {
		margin-top: $desktop-header-height;
	}
}

.home-banner__title {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	width: 90%;
	height: auto;
	z-index: 2;
	@include transition(0.5s);

	@include mq(desktop) {
		width: 70%;

		&:hover {
			transform: translateX(-50%) translateY(-10px);
		}
	}

	a {
		font-size: var(--font-xxlarge);
		font-family: $font-secondary;
		color: $color-third;
		font-weight: bold;
		line-height: 1;
		@include transition();

		&:hover {
			color: $color-white;
		}
	}

	span {
		font-weight: normal;
		font-size: var(--font-medium);
		font-family: $font-primary;
		border-bottom: 1px solid $color-third;
		padding-bottom: 0.5rem;
		line-height: 1;
	}
}

.home-banner__image {
	position: relative;
	min-height: 400px;

	@include mq(mobileLarge) {
		min-height: 450px;
	}

	@include mq(desktopLarge) {
		min-height: 650px;
	}

	img {
		@include absolute-center;
		object-fit: cover;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, rgba(#090e04, 1) 0%, rgba(#090e04, 0.5) 50%, rgba(#090e04, 0) 100%);
		mix-blend-mode: multiply;
	}
}

// ===============================================================
// Home seperator title
// ===============================================================

.home-title {
	font-size: var(--font-xlarge);
	font-family: $font-secondary;
	color: $color-primary;
	text-align: center;
	font-weight: bold;
	line-height: 1.33;
	margin: 8vh;
}

// ===============================================================
// Featured posts
// ===============================================================

.featured-posts {
	padding: 0 var(--space-xlarge);
	display: grid;
	grid-gap: var(--grid-gap);
	margin-bottom: var(--space-xlarge);

	@include mq(mobileLarge) {
		grid-template-columns: 1fr 1fr;
	}
}

// ===============================================================
// Banner post
// ===============================================================

.banner-post {
	position: relative;
	display: block;
	margin-bottom: var(--space-xlarge);

	@include mq(desktop) {
		margin: 0 var(--space-xlarge) var(--space-xlarge);
	}

	&:hover {
		.banner-post__image img {
			transform: translate(-50%, -50%) scale(1.05);
		}
	}
}

.banner-post__contents {
	text-align: center;
	z-index: 2;
	display: block;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	width: 90%;

	@include mq(desktop) {
		width: 60%;
		left: 2%;
		transform: none;
		text-align: left;
	}
}

.banner-post__meta {
	color: $color-white;
}

.banner-post__title {
	font-size: var(--font-xxlarge);
	font-family: $font-secondary;
	color: $color-white;
	font-weight: bold;
	line-height: 1.33;

	@include mq(desktop) {
		font-size: 4rem;
	}
}

.banner-post__image {
	position: relative;
	min-height: 400px;
	overflow: hidden;

	@include mq(mobileLarge) {
		min-height: 300px;
	}

	@include mq(desktop) {
		min-height: 400px;
	}

	img {
		@include absolute-center;
		object-fit: cover;
		@include transition(1s);
	}

	&::after {
		z-index: 1;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, rgba(#090e04, 0.5) 0%, rgba(#090e04, 0) 50%, rgba(#090e04, 0) 100%);
		mix-blend-mode: multiply;
		@include transition(1s);
	}
}

// ===============================================================
// Recent posts
// ===============================================================

.latest-posts {
	padding: 0 var(--space-xlarge);
	display: grid;
	grid-gap: var(--grid-gap);
	margin-bottom: var(--space-xlarge);

	@include mq(mobileLarge) {
		grid-template-columns: 1fr 1fr;

		.post-card:nth-child(3) {
			grid-column: 1/-1;
		}
	}

	@include mq(desktop) {
		grid-template-columns: 1fr 1fr 1fr;

		.post-card:nth-child(3) {
			grid-column: auto;
		}
	}
}
