// ===============================================================
// Post card template
// ===============================================================

.post-card {
	.post-card__content {
		background: $color-third;
		padding: var(--space-small);
	}

	.post-categories {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0.5rem;

		li {
			margin-right: 1rem;

			&:not(:last-child):after {
				content: "/";
				margin-left: 1rem;
			}
		}

		a {
			white-space: nowrap;
			color: $color-secondary;
			font-size: var(--font-small);
			letter-spacing: 0.075rem;
		}
	}

	.post-card__title {
		margin-bottom: 0.5rem;

		a {
			font-size: var(--font-large);
			font-family: $font-secondary;
			color: $color-primary;
			font-weight: bold;
			line-height: 1.33;
		}
	}

	.post-card__meta {
		display: flex;
		color: $color-secondary;
		white-space: nowrap;

		.post-card__date {
			margin-right: 1.25rem;
		}

		.rt-time,
		time {
			font-weight: bold;
		}
	}
}
