// ===============================================================
// Post card template
// ===============================================================

.post-card {
	display: flex;
	flex-flow: column;
}

.post-card__link {
	flex: 1;
	display: flex;
	flex-flow: column;

	&:hover {
		.post-card__image img {
			transform: scale(1.05);
		}

		.post-card__content {
			background: $color-primary;
		}

		.post-card__meta,
		.post-card__title {
			color: $color-white;
		}
	}
}

.post-card__image {
	overflow: hidden;

	img {
		width: 100%;
		@include transition(1s);
	}
}

.post-card__content {
	flex: 1;
	display: flex;
	flex-flow: column;
	background: $color-third;
	padding: var(--space-small);
	@include transition(0.5s);
}

.post-card .post-categories {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: var(--space-xxsmall) var(--space-small);
	background-color: rgba($color-primary, 0.02);

	li {
		margin-right: 1rem;
		margin-bottom: 0.25rem;

		&:not(:last-child):after {
			content: "/";
			margin-left: 1rem;
			color: $color-secondary;
		}
	}

	a {
		display: inline-block;
		padding: 0.25rem 0;
		color: $color-secondary;
		font-size: 1.6rem;
		@include transition(0.5s);

		&:hover {
			color: $color-primary;
		}
	}
}

.post-card__title {
	margin-bottom: 1rem;
	font-size: var(--font-large);
	font-family: $font-secondary;
	color: $color-primary;
	font-weight: bold;
	line-height: 1.33;
	@include transition(0.5s);
}

.post-card__meta {
	display: flex;
	flex-wrap: wrap;
	margin-top: auto;
	color: $color-secondary;
	white-space: nowrap;
	@include transition(0.5s);

	.post-card__date {
		margin-right: 1.25rem;
	}

	.rt-label.rt-postfix,
	.rt-time,
	time {
		font-weight: bold;
	}
}
